body { font-size: 13px; font-family: 'Trebuchet MS','Helvetica Newue',Arial,sans-serif; background-color:#d1e4ef }

h1 {
	padding-left:10px;
	padding-top:25px;
	padding-bottom:5px;
	color:#333;
        line-height:0px;
}
h2 {

	color:#666;
	line-height:0px;
}
h3 {
        padding-left:15px;
        padding-top:20px;
	margin:0;
	line-height:0px;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
        color:#444;
        text-decoration:underline;
}

/*demo styles*/
table#data_table {width: 600px; height: 200px; border-collapse: collapse; font-size: 1em;}
td {
	vertical-align:top;
}
img {
	border:0px;
}
.visualize td, th { 
   text-align: center; 
   border: 1px solid #ddd; 
   font-size: 11px; padding: 0px;
   }
th { background-color:#f4f4f4; }  
th.totals { background-color:#BFD6FF; }
.totals { background-color:#DFEBFF; }
td.hover { color: orange; }
td.input { padding: 0; }
td input, td input:focus { border: 1px solid orange; outline: none; padding: 2px; margin: 1px; width: 20px; }
caption {margin: 0 0 .5em; font-size: 1.5em; font-weight: bold; }

.editableNote { background: #FEFBE2; border: 1px solid #8CC264; padding: 10px; margin: 1.5em 0; font-size: 10px; }

/*option configurator thingy*/

.visualize-main { background-color:#fff;border:1px solid #999; }
.visualize-main td { padding: 5px; }
.visualize { background-color:#fff;padding:0px;border:0px }
.visualize td { text-align:left;padding:5px;font-size:13px;color:#444;}
